rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función para verificar si el usuario está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Reglas para la colección de restaurantes
    match /restaurants/{restaurantId} {
      // Permitir lectura pública
      allow read: if true;
      
      // Permitir escritura a usuarios autenticados
      allow create, update: if isAuthenticated() && request.resource.data.coverImg is string;
      allow delete: if isAuthenticated();
      
      // Reglas para la subcolección de platos
      match /dishes/{dishId} {
        // Permitir lectura pública
        allow read: if true;
        
        // Permitir escritura a usuarios autenticados
        allow create, update: if isAuthenticated() && request.resource.data.photos is list;
        allow delete: if isAuthenticated();
      }
    }
  }
}
